:root {
  --text-h: #212121;
  --text-p: #757575;
  --text-focus: #2196f3;
  --text-hero: #ffffff;
  --background-hero-footer: #2f303a;
  --text-adress: rgba(255, 255, 255, 0.6);
}

body {
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/
.logo {
  font-family: Raleway;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-focus);
}
.logo-part {
  color: var(--text-h);
}
.link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-h);
}
.link:hover,
.link:focus {
  color: var(--text-focus);
}
.connection {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-p);
}
.connection:hover,
.connection:focus {
  color: var(--text-focus);
}

/*footer*/
.floor {
  background: #2f303a;
}
.logo-text {
  color: var(--text-hero);
}
address {
  font-style: normal;
}
.location {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-hero);
}
.contacts {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-adress);
}
